$text-color:      #222222;

$base-font:       'Droid Serif', serif;
$heading-font:    'Oswald', sans-serif;

$easing-geo:      cubic-bezier(0.4, 0.0, 0.2, 1);
$easing-enter:    cubic-bezier(0.0, 0.0, 0.2, 1);
$easing-leave:    cubic-bezier(0.4, 0.0, 1, 1);

$perspective:     900px;
